@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Chakra+Petch:wght@300;400;500;600&family=DM+Serif+Display:ital@0;1&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400;500;600;700;800;900&family=Play:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Rajdhani:wght@500;600;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");

$dark-blue-intro: hsl(217, 28%, 15%);
$dark-blue-main: hsl(218, 28%, 13%);
$dark-blue-footer: hsl(216, 53%, 9%);
$dark-blue-testimonials: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0,0%, 75%); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
  
  background-image: url('../images/bg-curvy-mobile.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-blue-main;
  color: $white;

  overflow-x: hidden;
}

/* general styling for elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Helvetica, sans-serif;
  line-height: 1.5;
}

ul {
   list-style: none;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
   color: white;
}

p {
   line-height: 1.6em;
}

address{
   font-style: normal;
}

/* utility classes */
.container {
   max-width: 1200px;
   margin: 0 auto;
}

.flex {
   display: flex;
}
.grid {
   display: grid;
}

.section-padding{
   padding-inline: min(6vw, 4em); 
}

.text-center {
   text-align: center;
}

.field-reset {
   outline: 0;
   border: 0;
   background: none;
   display: inline-block;
}
.field{
   @extend .field-reset;
   border-radius: 30px;
   padding: 1.3em 1.5em;
   width: 100%;
   max-width: 100%;
}
.primary-field {
   background-color: white;
}
.primary-field::placeholder {
   color: $gray;
}

.btn {
   @extend .field-reset;
   padding: 1.3em;
   width: 17em;
   border-radius: 30px;
   max-width: 100%;
   
   text-align: center;
   font-family: "Raleway";
   font-weight: 700;
   font-size: .9em;

   cursor: pointer;
   transition-property: color, filter, background;
   transition-duration: .2s;
}
.primary-btn {
   background: linear-gradient(to right, $cyan, $blue);
   color: white;
}
.primary-btn:hover {
   filter: brightness(1.2);
}

.special-link {
   display: inline-block;
   color: $cyan;
   padding-block: .4em;
   border-bottom: 1px solid $cyan;
   font-size: .94em;

   transition-property: filter, color;
   transition-duration: .2s;

   .icon {
      vertical-align: middle;
   }
}
.special-link:hover {
   filter: grayscale(100%);
}


.separate-space-1 {
   > * + * {
      margin-top: .6em;
   }
}
.separate-space-2 {
   > * + * {
      margin-top: 1.8em;
   }
}

.gray-text {
   color: hsl(0,0%,70%);
}

/* ############################ header and nav ################################ */
header {
   padding-block: 2em;
   background-color: $dark-blue-intro;

   .logo {
      width: 80px;
   }

   .container {
      justify-content: space-between;
      align-items: center;
      gap: .5em;
   }
}

nav {
   ul {
      gap: 1.5em;
      a {
         color: $gray;
         display: block;
         padding-block: .4em;
         font-size: .9em;
         white-space: nowrap;

         transition-property: color, text-decoration;
         transition-duration: .3s;
      }

      a:hover {
         text-decoration: underline;
         color: white;
      }
   }
}

/* ################################ intro ################################ */
#intro {
   padding-block: 2.3em;
   background-image: 
     url("../images/bg-curvy-mobile.svg"), 
     linear-gradient(to top, $dark-blue-main 45%, $dark-blue-intro 45%);
   background-repeat: no-repeat;
   background-position: center 45%;

   h1 {
      font-size: 1.8em;
      max-width: 600px;
   }

   p {
      max-width: 500px;
   }
   
   h1, p {
      margin-inline: auto;
   }
}

/* ################################ features ################################ */
#features {
   padding-block: 7em;
   
   .container {
      gap: 5em;
      max-width: 800px;
   }

   h3 {
      font-size: 1.3em;
   }

   .img-control {
      height: 80px;
   }
}

/* ################################ stay productive ################################ */
#stay-productive {
   padding-block: 4em;

   h2 {
      font-size: 1.3em;
   }
}

/* ################################ comments ################################ */
#comments {
   padding-block: 8em;

   .container {
      max-width: 1100px;
      row-gap: 3em;
      column-gap: min(2vw, 3em);
      
      padding-block: 19px;

      background-image: url('../images/bg-quotes.png');
      background-repeat: no-repeat;
      background-size: 25px auto;
      background-position:  5px top;
   }
}
.comment {
   background-color: $dark-blue-testimonials;
   padding: 2em;
   border-radius: 6px;

   .message {
      font-size: .9em;
      color: $gray;
      margin-bottom: 1.2em;
   }

   .author {
      display: grid;
      grid-template-columns: max-content max-content;
      align-items: center;
      gap: 0.8em;

      .profile-picture {
         border-radius: 50%;
         max-width: 40px;
      }

      .name {
         font-size: .9em;
      }

      .profession {
         color: $gray;
         font-size: .7em;
      }
   }  
}

/* ################################ get access ################################ */
#get-access {
   padding-block: 2em;
   background: linear-gradient(to bottom, $dark-blue-main 50%, $dark-blue-footer 50%);

   .box {
      max-width: 800px;
      margin: 0 auto;
      background-color: $dark-blue-intro;
      padding: 2.6em 2em;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
      border-radius: 10px;
   }

   h2 {
      font-size: 1.2em;
   }

   form {
      flex-direction: column;
      gap: 2em;
   }

   .field, .btn {
      width: 100%;
   }
}

/* ################################ footer ################################ */
footer {
   background-color: $dark-blue-footer;
   padding-block: 3em;

   .logo {
      width: 200px;
   }

   .container {
      flex-direction: column;
      gap: 2em;
   }

   .middle {
      gap: 3em;
      flex-direction: column;
      justify-content: space-between;
   }

   .location {
      display: grid;
      grid-template-columns: 1fr 9fr;

      max-width: 400px;
   }

   .contact {
      gap: 1em;
      flex-direction: column;

      .info {
         align-items: center;
         gap: .6em;

         > * {
            flex-shrink: 0;
         }

         img {
            align-self: center;
            justify-self: start;
         }
      }
   }
}

.footer-list {
   display: flex;
   flex-direction: column;
   gap: .5em;

   a {
      @extend .gray-text;
      transition: color .2s;
   }
   a:hover {
      color: white;
   }
}

.socials {
   display: flex;
   gap: .5em;
   justify-content: center;

   a {
      display: block;
      position: relative;
      border: 1px solid white;
      border-radius: 50%;

      width: 30px;
      aspect-ratio: 1;

      transition-property: color, border-color;
      transition-duration: .25s;
   }

   a:hover {
      color: $cyan;
      border-color: $cyan;
   }

   .fa {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
   }
}

.attribution {
   margin-top: 3em;
   text-align: center;

   a {
      color: $cyan;
   }
   a:hover {
      text-decoration: underline;
   }
}

@media (min-width: 45em) {
   .separate-space-1-dk {
      > * + * {
         margin-top: 1.2em;
      }
   }

   header {
      padding-block: 4em;

      .logo {
         width: 140px;
      }
   }  

   nav {
      ul {
         gap: 3em;
      }
   }

   #intro {
      background-image: 
        url('../images/bg-curvy-desktop.svg');
      background-color: $dark-blue-intro;
      background-position: center 100%;

      h1 {
         font-size: 2.3em;
      }

      p {
         font-size: 1.2em;
      }
   }

   #features {
      .container {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);

         justify-items: center;
         align-items: center;
      }
   }

   #stay-productive {
      .container {
         grid-template-columns: repeat(2, 1fr);     
         align-items: center;
         gap: 4em;
      }

      h2 {
         font-size: 2.5em;
         line-height: 1.2;
         max-width: 55%;
      }
   }

   #comments {
      .container {
         grid-template-columns: repeat(3, 1fr);
      }
   }

   #get-access {
      .box {
         padding-inline: 5em;
      }

      form {
         flex-direction: row;
      }

      .field, .btn {
         width: auto;
      }

      .field {
         flex-grow: 3;
      }

      .btn {
         flex-grow: 1;
      }

      h2 {
         font-size: 2.3em;
      }
   }

   footer {
      .middle {
         flex-direction: row;

         > * {
            flex-grow: 1;
         }
      }
   }
}